.dayparts {
    width: 1500px;
}

.dayparts.reverse {
    margin-top: 40px;
}

.dayparts table {
    table-layout: fixed;
}

.dayparts.reverse table {
    width: 100%;
}

.dayparts #blank-header {
    width: 80px;
    padding: 28px 0 0;
}
.dayparts.reverse #blank-header {
    transform: none;
    top: 0;
}

.dayparts td {
    cursor: pointer;
    width: 26px;
    height: 26px;
    border: 1px solid #ccc;
}

.dayparts th {
    font-weight: normal;
}

.dayparts.reverse tr:first-child th {
    transform: rotate(-90.0deg);
    height: 0px;
    width: 30px;
    white-space: nowrap;
}

.dayparts td, .dayparts th {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
}

.dayparts tr:first-child th {
    width: 70px;
    text-align: center;
}

.dayparts tr:not(:first-child) th {
    text-align: right;
    padding-right: 5px;
    width: 140px;
}

.dayparts tr td:last-child {
    /* border: 0; */
}

.dayparts .selected {
    background: #1e4163;
    color: white;
}

.dayparts button {
    margin-top: 10px;
    float: right;
    cursor: pointer;
    margin-right: 25px;
}

.dayparts th {
    cursor: pointer;
}
.dayparts a:hover {
    color: #333333;
}