<div class="dayparts">
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th></th>
            <th ng-repeat="row in rows">
                <a ng-if="!options.disableColumnSelection" ng-click="selectLine(row)">{{row.title}}</a>
            </th>
        </tr>
        <tr ng-repeat="col in columns">
            <th>
                <a ng-if="!options.disableRowSelection" ng-click="selectLine(col)">{{col.title}}</a>
            </th>
            <td ng-repeat="row in rows" data-time="{{getDayTitleHourValue(row, col)}}"></td>
        </tr>
    </table>
  
    <button type="button" ng-click="reset()" ng-if="options.reset">Reset</button>
  
  </div>